<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>YoYoProxio API</title>
</head>
<body>
  <h1>API</h1>

  <article>
    <h1>Products</h1>
    <h2>GET</h2>
    <p><span><a href="/api/products">/api/products/</a></span>, full list of products</p>
    <p><span><a href="/api/product">/api/product/</a></span>, same as above</p>
    <p><span><a href="/api/products/563f373b9f6c10ca98a99a6d">/api/products/id</a></span>, specific product</p>
    <p><span><a href="/api/product/563f373b9f6c10ca98a99a6d">/api/product/id</a></span>, same as above</p>
    <h2>Post</h2>
    <p><span>/api/products/</span>, add a new product</p>
    <p><span>/api/product/</span>, same as above</p>
  </article>

  <article>
    <h1>Tags/Nearables</h1>
    <p><span><a href="/api/tags">/api/tags</a></span>, get a full list of tags</p>
    <p><span><a href="/api/tag">/api/tag</a></span>, same as above</p>
    <p><span><a href="/api/tag/563f32bba9c72d548252c036">/api/tag/id</a></span>, get specific tag</p>
    <p><span><a href="/api/tags/563f32bba9c72d548252c036">/api/tags/id</a></span>, same as above</p>
    <h2>Post</h2>
    <p><span>/api/tags</span>, add a tag</p>
    <p><span>/api/tag</span>, same as above</p>
  </article>

  <article>
    <h1>Categories</h1>
    <h2>Get</h2>
    <p><span><a href="/api/categories">/api/categories</a></span>, get a full list of categories</p>
    <p><span><a href="/api/category">/api/category</a></span>, same as above</p>
    <p><span><a href="/api/category/563f417d95f102a2f0316243">/api/category/id</a></span>, get specific category</p>
    <p><span><a href="/api/categories/563f417d95f102a2f0316243">/api/categories/id</a></span>, same as above</p>
    <h2>Post</h2>
    <p><span>/api/categories</span>, add a category</p>
    <p><span>/api/category</span>, same as above</p>
  </article>
</body>
</html>