<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>YoYoProxio API</title>
</head>
<body>
  <h1>API</h1>

  <article>
    <h1>Products</h1>
    <h2>GET</h2>
    <p><span><a href="/api/products">/api/products/</a></span>, full list of products</p>
    <p><span><a href="/api/product">/api/product/</a></span>, same as above</p>
    <p><span><a href="/api/products/563f373b9f6c10ca98a99a6d">/api/products/id</a></span>, specific product</p>
    <p><span><a href="/api/product/563f373b9f6c10ca98a99a6d">/api/product/id</a></span>, same as above</p>
    <h2>Post</h2>
    <p><span>/api/products/</span>, add a new product</p>
    <p><span>/api/product/</span>, same as above</p>
  </article>

  <article>
    <h1>Tags/Nearables</h1>
    <h2>Get</h2>
    <h2>Post</h2>
  </article>

  <article>
    <h1>Categories</h1>
    <h2>Get</h2>
    <h2>Post</h2>
  </article>
</body>
</html>